body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/Ov7euAMzqgLQH06r3aX7yVroeySW_40dDzCkz8czbnaNiHCLjTWIP9z3nto7CZ3uenCYhTUPaS668XXLbM91ZOMaVoVsUA4tqZKkftXj3A-UBX8qmjDocBH1N73RfDBoQXHn_yqgDz3uhGZhrvH8WHOzAFW-oPTXHWrq8kPYRK-YFrv8kYwji8s39RmsUyNwIkhH1aQ36XDnm2M0XeBot2op9nO8uKjyt3ftUJsnVre13B8ohU5euFJAB91NBDLbD5RQFxa9sL_c19VILmBzLkP1jZaUepy0oKQmIzRmm2UqvqdF-SFsZal2mkFYL3aiBHJ3ZuZqfzmEkkTAJuJul9K6dlvmFUxSd-rLvPEwYLBS0dF0jFeyEdr5mjoUk_CGOK4jr7GGm_IesKTbv5KbpBBUl5oSLa8hrocSoQFs3G6Zg8Jk6dbhBx1oci-D2nfp43qXS7oOFW2sYoJTCcII7-ifpqUKjlR0KM3zm-cMgha0iUgADABv3JHntkDYzTJKe8Ds1tK_Gl3T1MaV5pQc0SVvAN9wMZ35PY25i_O2v5hhpiLkftfIuHQoshhGftm-NBe7dGheC3JemmoTZLowKWmxRvcpyJzUgHyLQ13lEGFX54e8ywlfrSHPlKlWlRt7XkDREihEvqmMKg0d8PuXhMbiZsb9WMg=w1544-h996-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'EB Garamond', sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .winter {
    background-color: rgb(34, 151, 197);
  }
  
  .spring {
    background-color: palevioletred;
  }
  
  .summer {
    background-color: yellowgreen;
  }
  
  .fall {
    background-color: orangered;
  }
  
  .yearround {
    background-color: #6d52b8;
  }
  
  /* Typography */
  h1 {
    color: whitesmoke;
    text-shadow: 2px 2px #13130f;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'EB Garamond', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'EB Garamond', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'EB Garamond', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'EB Garamond', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;}

    footer p {
        text-align: center;
    }

